In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, LSTM

In [13]:
#파일 읽기
cmo_df = pd.read_excel('./CMO-Historical-Data-Monthly_prefix.xlsx', sheet_name='Monthly Prices', index_col=0)
lng_df = pd.read_excel('./월간 액화천연가스 수입.xlsx', index_col=0)
#전처리
cmo_df = cmo_df.drop(cmo_df.index[0])
lng_df.drop(columns=['수입액(백만 USD)', '수입량(1,000 톤)'], inplace=True)

In [14]:
#데이터 프레임 병합
source_df = pd.concat([cmo_df, lng_df], axis=1)
source_df

,"Crude oil, Dubai","Coal, Australian","Natural gas, US","Natural gas, Europe","Liquefied natural gas, Japan",U$/MT
2002-01-01,18.291818,27.35,2.25,3.06,4.21,223.748956
2002-02-01,18.911053,28.1,2.31,3.03,4.12,221.859624
2002-03-01,22.8545,27.8,3.03,2.97,3.99,213.337581
2002-04-01,24.405455,27.0875,3.42,2.81,3.96,207.203693
2002-05-01,24.585217,26.875,3.49,2.83,4.01,209.574109
...,...,...,...,...,...,...
2022-04-01,102.68,310.85,6.5306,32.204187,16.287524,695.031958
2022-05-01,108.32,371.86,8.1373,29.170723,16.679091,723.310581
2022-06-01,115.73,374.08,7.674,33.557731,15.533921,762.065675
2022-07-01,106.48,402.2,7.2561,51.33003,18.880754,1032.475321
2022-08-01,97.75,406.97,8.7854,70.04364,21.210848,1198.806790